/* ROOT VARIABLES */



/* BODY STYLES */
body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    background-color: white;
    height: 100%;
    background-image: url('./assets/BG.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

.dark {
    transition: .1s ease;
    background-color: #25264c;
    color: white;
}


/* GENERAL STYLES */
nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border-bottom: 2px solid;
    transition: .1s ease-in;
}

nav:hover {
    border-color: #efd81d;
}

.onoffswitch {
    position: relative; width: 79px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 45px;
    border: 2px solid #999999; border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

h1 {
    font-size: 32px;
    cursor: default;
    transition: .1s ease-in;
}

h1:hover {
    color: #efd81d;
}

a {
    text-decoration: none;
    color: #000;
    transition: .2s ease-in;
}

a:hover {
    color: #5f5e5e;
}



/* EDITOR STYLES */
main {
    padding: 2rem;
}

section {
    display: flex;
    justify-content: space-around;
}

.buttons__container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.panel {
    background-color: #000;
    color: #fff;
    padding-top: .6rem;
}

.output li {
    letter-spacing: 1px;
    font-size: 6px;
}


button {
    width: 140px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #2777ee;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
    background-color: #0043fb;
}

.panel {
    padding: 0;
    width: 550px;
    height: 240px;
    background-color: #181212;
    color: #157fea;
}

#output {
    list-style: none;
}

#output > li {
    font-size: 19px;
}

footer {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    color: #efd81d;
    transition: .2s ease-in;
}

.user:hover {
    color: #f0e738;
    border-bottom: 1px solid;
}
